# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# NestJS
dist/
*.tsbuildinfo

# Prisma
generated/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env*
!.env.example
